numpy
pandas
matplotlib
seaborn
scikit-learn
statsmodels
tensorflow
keras
torch
transformers
nltk
streamlit
plotly
Flask
PyMuPDF
PyPDF2
openpyxl
pdfplumber
pytesseract
opencv-python
textblob